name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # ---------- Backend Docker Image ----------
      - name: Build backend Docker image
        run: |
          docker build -t todo-backend ./Backend

      # ---------- Frontend Docker Image ----------
      - name: Build frontend Docker image
        run: |
          docker build -t todo-frontend ./Frontend
